<h1>This is home page <%= session %></h1>

<li><a href="/auth/google">GAuth</a></li>
<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>