<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <form action="/register" method="POST">
        <h3>Sign Up</h3>
        <input type="text" placeholder="Username" class="ltext" name="username">
        <input type="text" placeholder="Email" class="ltext" name="email">
        <input type="text" placeholder="Mobile no" class="ltext" name="mobileNo">
        <input type="text" placeholder="Address" class="ltext" name="address">
        <textarea placeholder="about" class="ltext" style="resize: none;" name="about"></textarea>
        <input type="password" placeholder="password" class="ltext" name="passwd">
        <input type="password" placeholder="confirm password" class="ltext" name="confrimpasswd">
        <div style="width: 100%;display: flex;justify-content: space-between;"><a href="/login" class="raccount">Sign In</a><input type="submit" value="Sign Up" class="lbut"></div>
        <div style="width: 15rem;box-shadow: 0 6px 6px -6px black;height:1rem;margin-top: -0.5rem;margin-bottom: 0.5rem;"></div>
        <a href="/auth/google"><img src="https://img.icons8.com/fluent/48/000000/google-logo.png" class="licon"/></a>
    </form>
</body>
</html>